<% content_for :masthead do %>
<!--<div id="masthead">
      <div class="inner">
        <div class="container">
			<%= image_tag "icon.png", :alt => "Logo icon", :class => "masthead-icon" %>
          <h1>Skellington app says "Boo!"</h1>
          <p class="lead">
            A stable[ish] starting point to prototype facebook &amp; twitter apps using Rails 3.
          </p>
          <p>The readme &amp; code is on the <%= link_to "github repo", "https://github.com/danieljohnmorris/skel" %>. Also, <%= link_to "say hi on twitter", "http://twitter.com/danielmorris" %> if you have comments or questions.</p>
        </div>
      </div>
</div>-->
<% end %>

<% 
title "#{APP_CONFIG[:app_name]} / Home"
content_for :heading do APP_CONFIG[:app_name] end
content_for :subtitle do APP_CONFIG[:app_tagline] end
%>

<div class="row">
	<div class="span8 columns">

		<p>Twarl is a curated directory of independent designer/makers, producing bespoke commissions and exclusive lines of clothing, accessories & costumes.</p>
		
		<p>Going out to a big party and need the perfect costume? Want some unique clothes and are willing to pay? We found there are many talented designer-makers scattered around but often it requires a personal recommendation to find them. This site aims to give you a list of approachable and talented individuals across a range of styles and specialities.</p>

		<h3>FAQ</h3>
		<ul>
			<li><a href="">I have a suggestion / problem / comment on how to make Twarl better.</a></li>
			<li><a href="">I've had a bad experience of someone listed on Twarl.</a></li>
			<li><a href="">I know someone you should include.</a></li>
			<li><a href="">I make beautiful garments or accessories and would like to be included.</a></li>
		</ul>
		
	</div>
	<div class="span8 columns">
		<h2>What are you looking for?</h2>
		<form action="" method="get" >
			<input type="text" value="" name="search" class="search" id="search" placeholder="Eg. red latex dress" required="">
		</form>
		
		Example searches:
		<ul>
			<li>Latex dress</li>
			<li>20s style 3 piece suit</li>
			<li>cool hat</li>
			<li>halloween costume</li>
			<li>animal kigu</li>
		</ul>
		
	</div>
</div>